@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Press+Start+2P&display=swap");

/* Links */
a {
  color: #938b8b;
}
a:focus,
a:hover {
  color: #c62727;
}

/* Custom default button */
.btn-secondary {
  color: #c62727;
  background-color: #c6bbbb;
  text-shadow: none;
}

.btn-secondary:hover,
.btn-secondary:focus {
  color: #938b8b;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #c6bbbb;
  border: 0.05rem solid #ff0000;
}

.volume-level{
  max-width: 100%;
  text-align: center;
}

.volume-label{
  margin-top: 20px; 
  max-width: 100%;
  text-align: center;
  color: #c62727;
}

html,
body {
  height: 100%;
  background-color: #3c3a3a;
  font-family: "Neucha", cursive;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #938b8b;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.masthead {
  margin-bottom: 2rem;
  font-family: "Press Start 2P", cursive;
  font-weight: 800;
  color: #c62727;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

#controls-link {
  color: #c62727;
}

#main {
  height: 10em;
}

a.selected {
  background-color: rgb(132, 187, 241) !important;
}

.gameOver {
  color: #d7391d;
  margin-bottom: 100px;
}

.marginTop {
  margin-top: 200px;
}
